*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);

}


.buttons {
    border-style: none;
    margin: 0.5rem;
    width: auto;
    height: 5.5rem;
    font-size: 2rem;
}

.buttons__primary {
    background-color: #2B2E4A;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    color: whitesmoke;
}

.grid--cbox {
    grid-column: 1 / 4;
}

.buttons:hover {
    background-color: #1a1c2c;
    cursor: pointer;
}

#box {
    border: 2px solid rgb(51, 50, 50);
    width: auto;
    color: #424346;
    grid-column: 1 / 5;
    overflow: hidden;
    font-size: 3rem;
    height: 6rem;
}